#section-1 {
  z-index: -1;
  width: 100%;
  margin-top: -73px;
  overflow: hidden;
  height: 448px;
  position: relative;
}

#section-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-blog {
  margin-bottom: 60px;
  border-bottom: 1px solid #844c3a;
  padding-bottom: 20px;
}

#section-blog h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  /* or 80% */

  text-align: center;
  letter-spacing: 0.2em;

  color: #844c3a;
  padding-top: 30px;
  margin-bottom: 50px;
}
#section-blog h3 span {
  font-size: 35px;
  text-align: center;
  display: block;
  margin-top: 20px;
}

#section-blog ul li {
  padding: 0 2vw;
}

#section-blog ul {
  margin: 0 auto;
  display: flex;
  width: fit-content;
}

#section-blog ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #844c3a;
  position: relative;
  padding-bottom: 5px;
}



#section-blog ul li a:hover {
  font-weight: bold;
}

.selected-blog {
  font-weight: bold !important;
}

#blog-container {
  display: flex;
  justify-content: space-between;
}

.left-blog,
.right-blog {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.left-blog div,
.right-blog div {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}

.left-blog div img,
.right-blog div img {
  transition: transform 1s;
  width: 100%;
  height: auto;
}
.left-blog div:hover img,
.right-blog div:hover img {
  transform: scale(1.07);
}

.left-blog div a,
.right-blog div a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: fit-content;
}

.right-blog div a:after,
.left-blog div a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -3px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

.right-blog div a:hover:after,
.left-blog div a:hover:after {
  width: 100%;
  left: 0;
}
