nav {
  background-color: #ede8e3;
}

/*section-1 'contact'*/
#contact {
  background-color: #ede8e3;
  padding-bottom: 160px;
}

#contact .contact-container {
  display: flex;
  justify-content: space-between;
}
.left-contact,
.right-contact {
  width: 49%;
}

.left-contact,
.left-contact form {
  display: flex;
  flex-direction: column;
}

.left-contact {
  padding-top: 100px;
}

#contact h3 {
  font-family: "Old Standard TT", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #844c3a;
  margin-bottom: 30px;
}

#contact p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 65px;
  color: #844c3a;
}

#contact label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #844c3a;
}

#contact button {
  max-width: 162px;
  height: 41px;
  border: 1px solid #844c3a;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #844c3a;
  transition: all 0.35s;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
#contact button:hover {
  color: #fff;
}
#contact button:hover{
  background: #844c3a;
}

#contact button span {
  position: relative;
  z-index: 2;
  padding: 30px;
}

#contact input {
  border: 0;
  height: 40px;
  margin-bottom: 30px;
}
#contact input:focus,
#contact textarea:focus {
  outline: none;
}

#contact input,
#contact textarea {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: black;
}

.right-contact {
  position: relative;
}

.right-contact img {
  width: 100%;
  height: auto;
}
