body {
  background-color: #ede8e3;
}


.favories-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.favories-container div {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.favories-container div a {
  font-family: "Peddana", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #844c3a;
  padding: 10px 0;
}

.favories-container div span {
  font-family: "Open Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 24px;
/* or 200% */

text-align: center;
letter-spacing: 0.2em;

color: #844C3A;
  margin-bottom: 20px;
}

.favories-container div .promo {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration-line: line-through;
  color: #844c3a;
}

.favories-container div .addtocard-btn {
  width: 60%;
  height: 42px;
  border: 1px solid #844c3a;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #844c3a;
  transition: all 0.35s;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.favories-container div .addtocard-btn:hover {
  background:#844c3a ;
}

.favories-container div .addtocard-btn:hover span {
  color: #fff;
}

.favories-container div .addtocard-btn span {
  position: relative;
  z-index: 2;
  font-size: 12px;
}

.favories-container div img {
  width: 100%;
  height: auto;
}

#favories-sect h3 {
  font-family: "Caladea", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #844c3a;
  padding: 50px 0;
}

.deleteFav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #844c3a;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #844c3a;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
}

.deleteFav:hover {
  background-color: #844c3a;
  color: white;
  transition: 0.5s;
}
#switch{
  display:none;
  border-bottom: 0.25px solid #844C3A;
}

#switch li{
  border-bottom: 0.25px solid #844C3A;
}

#switch li, #switch li a {
  text-align: center;
  font-family: 'Caladea', serif;
  font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 24px;
/* or 200% */
text-align: center;
letter-spacing: 0.2em;
color: #844C3A;
}
#switch li:last-child{
  display: none;
}