body {
  background-color: #ede8e3;
}
#myacct .container-1, #vosadrss .container-1, .container-7{
  padding-top: 90px;
}


#nouvelleAdrss .container-1 {
  padding-top: 50px;
  position: relative;
}

#infoPerso .container-1,
#vosadrss .container-1,
#myacct .container-1,
#nouvelleAdrss .container-1 {
  position: relative;
}

#infoPerso h3,
#nouvelleAdrss h3,
#vosadrss h3 {
  font-family: "Caladea", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  line-height: 24px;
  /* or 60% */

  text-align: center;
  letter-spacing: 0.1em;

  color: #844c3a;
  margin-bottom: 65px;
}

#vosadrss h3 {
  font-weight: normal !important;
  font-style: italic;
  letter-spacing: 0.05em;
}

#infoPerso .bg {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #844c3a;
  margin-bottom: 30px;
  display: block;
}

#infoPerso p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #844c3a;
  margin-bottom: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

form div label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #844c3a;
}

form div input {
  border: 0;
  height: 40px;
}

form div input:focus {
  outline: none;
}

.btn-white {
  background: white;
  border: 0;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  text-align: center;
  letter-spacing: 0.2em;
  color: #844c3a;
  height: 40px;
}

#adressContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  justify-content: space-around;
}

#adressContainer div {
  border: 1px solid #844c3a;
  width: 341px;
  height: 325px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#adressContainer div span:first-child {
  font-family: "Caladea", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #844c3a;
}

#adressContainer div li {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.2em;

  color: #844c3a;
}

#adressContainer div a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  text-align: left;
  letter-spacing: 0.2em;

  color: #844c3a;
}

#adressContainer div a:hover {
  text-decoration: underline;
}

#adressContainer span a:nth-child(2) {
  float: right;
}

#myacct h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  color: #844c3a;
}

#myacct #nameUtl {
  font-family: "Beth Ellen", cursive !important;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 24px;
  display: block;

  text-align: center;
  letter-spacing: 0.05em;

  color: #844c3a;
}

#myacct p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  padding: 40px;

  text-align: center;
  letter-spacing: 0.2em;

  color: #844c3a;
}

#navigationAcct {
  display: flex;
  justify-content: space-between;
}

#navigationAcct button {
  left: auto;
  transform: initial;
  height: 93px;
  width: 340px;
  margin: 10px 10px;
}

#navigationAcct button span {
  padding: 0px;
  font-family: "Caladea", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  /* or 96% */

  text-align: center;
  letter-spacing: 0.2em;

  color: #844c3a;
}

#infoPerso .btn-sub {
  padding: 10px 0 !important;
}

#nouvelleAdrss button.btn-sub {
  padding: 10px;
}

.deconnexion {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */
  top: 18px;
  right: 0;
  text-align: center;
  letter-spacing: 0.2em;

  color: #844c3a;
}

.deconnexion button {
  border: 2px solid #844c3a;
  border-radius: 50%;
  width: 30px;
  font-weight: bold;
  height: 30px;
  margin-right: 4px;
  color: #844c3a;
  background: none;
  cursor: pointer;
}

.deconnexion button:hover {
  color: white;
  background: #844c3a;
  transition: 0.5s;
}

.return{
  position: absolute;
  top: 18px;
  right: 0;
  font-family: "Open Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 24px;
/* or 200% */

text-align: center;
letter-spacing: 0.2em;

color: #844C3A;
}

.return:hover{
  text-decoration: underline;
}