body {
  background-color: #ede8e3;
}

.panier-cont {
  display: flex;
  flex-direction: column;
}

.panier-cont .favories-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 50px;
}
.article {
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.article span {
  font-family: "Caladea", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.2em;
  color: #844c3a;
  margin-bottom: 7px;
}

.article p {
  font-family: 'Open Sans', sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #844c3a;
}

.prix-panier,
.total,
.quantites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.prix-panier span,
.total span,
.quantites {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #844c3a;
}

.quantites div:last-of-type {
  width: 40px;
  height: 40px;
  border: 1px solid #844c3a;
  text-align: center;
  padding: 7px;
}

#panier-sect {
  border-bottom: 1px solid #844c3a;
  margin-bottom: 50px;
}

#panier-sect h3 {
  font-family: "Caladea", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #844c3a;
  padding: 50px 0;
}

.cancel {
  border: 2px solid #844c3a;
  background: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 40px;
  color: #844c3a;
  font-weight: 100;
  cursor: pointer;
  align-self: center;
}
.cancel:hover {
  background-color: #844c3a;
  color: white;
  transition: 0.5s;
}

.coupon-total {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.coupon-total div {
  width: 50%;
}

.coupon-total input,
.coupon-btn {
  background: transparent;
  border: 1px solid #844c3a;
}

.coupon-total .coupon-btn {
  height: 60px;
  width: 10%;
  font-family: 'Open Sans', sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  transform: translateX(-4px);
  letter-spacing: 0.2em;

  color: rgba(132, 76, 58, 0.5);
  cursor: pointer;
}

.coupon-total .coupon-btn:hover {
  background: rgba(132, 76, 58, 0.5);
  color: white;
  transition: 0.5s;
}

.coupon-total input {
  width: 80%;
  height: 60px;
  font-family: 'Open Sans', sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  padding: 10px;

  letter-spacing: 0.2em;

  color: rgba(132, 76, 58, 0.5);
}

.final-prices {
  float: right;
}

.final-prices ul:first-child li {
  font-family: 'Open Sans', sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.2em;

  color: rgba(132, 76, 58, 0.5);
}

.final-prices ul:last-of-type li {
  font-family: 'Open Sans', sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.2em;
  color: #844c3a;
}

.final-prices {
  display: flex;
  float: right;
  width: fit-content;
  justify-content: space-between;
}

.container-5 .btn-sub {
  width: 100%;
  height: 60px;
  margin: 10px;
}

.container-5 .btn-sub span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.2em;
}

#sect2P {
  height: 180px;
}

.coupon-total input:focus{
  outline: none;
}

.final-prices ul li{
  margin-bottom: 5px;
}